# Python cache & virtualenv
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
env/
venv/
*.egg-info/
*.egg
*.log

# OS & editor files
.DS_Store
.vscode/
.idea/

# LangChain-related
faiss_index/
*.faiss
*.pkl

# Data & archive
data/
archive/
main_archive.py
*.pdf

# Secrets & configs
.env
.env.*

# Logs
logs/
*.log

# Build/Dist
dist/
build/
document_portal.egg-info/

# policies
incline_policy.json
instruction_for_deployment.txt

#test
test.py
pytest.ini

#experiments
notebook/*
*notebook